body {
  background-color: #393E46;
}
.container {
  color: #4ECCA3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
}
.players {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}
.player1 {
  display: block;
  margin: 10px;
}
.player2 {
  display: block;
  margin: 10px;
}
footer {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: 'Indie Flower', cursive;
}
